@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Platypi:ital,wght@0,300..800;1,300..800&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Satisfy&display=swap');
body{
    background-color: rgb(255, 231, 18);
}
*{
    margin:0;
    padding:0;
}

nav{
   font-family: "Jersey 20", sans-serif;
}
nav ul{
    display:flex;
     align-items: center;
    list-style-type: none;
    height: 87px;
    background-color:rgb(19, 31, 8);
    color: rgb(212, 226, 9);

}
nav ul li{
    padding:0 20px;
    bottom :-10px;
    display: inline-block;
    font-weight: bold;
}
ul li a{
color:rgb(236, 229, 229);
bottom :-10px;
display: inline-block;
}
nav p{
    font-size: 45px;
    font-weight: bold;
    float: left;
    padding top:20px;
}
.search{
    width: 290px;
    float:left;
    margin-left:770px;
    cursor: pointer;
    background:transparent;
    font-family: "Jersey 20", sans-serif;
    
}
.srch{
  font-family: "Jersey 20", sans-serif;  
    width: 400px;
    height:40px;
    cursor: pointer;
    border radius:60px;
    background: transparent;
    margin-top: 13px;
    border-right:none;
    font-size: 20px;
    font: left;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}
.btn{
    font-family: "Jersey 20", sans-serif;
    width: 80px;
    height:40px;
    font-size: 20px;
    cursor: pointer;
    border radius
   border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn:focus{
    ouitline: none;
}
.srch:focus{
    outline:none
}
.brand img{
    width:43px
}
.brand{0px;
    background-color: black;
    bottom:10px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.container{
    min-height: 75vh;
    background-color:rgb(114, 114, 170);
    color: black;
    font-family: 'Varela Round',sans-serif;
    font-weight: bold;
    display:flex;
    margin:20px auto;
    width :90%;
    border-radius:10px;
    padding:20px;
    background-image: url("music-backgrounds-11.jpg");
}


.bottom{
    position: sticky;
    height: 57px ;
    background-color:yellow;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 730px;
    flex-direction: column-reverse;
}
.icons{
    margin-top: 5px;
    color: black;
    cursor: pointer;
    align-items: center;
}

#myProgressbar{
    width: 80vw
}
.span{
    color:beige;
}
.songitemcontaine{
    margin-top: 120px;
}    
.songItem{
    height:50px;
    display: flex;
    background-color: beige;
    width:210px;
    margin:12px 0;
     border-radius: 12px;
   
}
.songItem img{
    width: 44px;
    margin: 0 3px;
  border-radius: 34px;

}
.timestamp{
    margin:34 11px
}
.timestamp i{
    cursor: pointer;
}